{% load url from future %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>sortable demo</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<script type="text/javascript" language="javascript">
  $(document).ready(function() {
    $("#sortable").sortable({

      update: function(event, ui) {
        var serial = $('#sortable').sortable('serialize');
        alert(serial);
        $.ajax({
          url: "{% url 'index' %}",
          type: "post",
          data: { 'content': serial, 'csrfmiddlewaretoken' : '{{csrf_token}}' }
        });
      },

    }).disableSelection();
  });
</script>

</head>
<body>

<form method="post" action="">

    {% csrf_token %}
    {{ formset.management_form }}

    <button type="submit" class="btn">Save all changes</button>

    <ul id="sortable">
    {% for form in formset %}
    <li id="entry_{{ forloop.counter0  }}" class="ui-state-default">
        {{ form }}
    </li>
    {% endfor %}
    </ul>

{% comment %}
    {% if entry_list %}

        <ul>
        {% for entry in entry_list %}
            <li><a href="{% url 'detail' entry.id %}">{{ entry.name }}</a>
            </li>
        {% endfor %}
        </ul>

    {% else %}
        <p>No entries are available.</p>
    {% endif %}
{% endcomment %}

</form>

<script>$("#sortable").sortable();</script>

</body>
</html>
