{% load url from future %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>sortable demo</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<script type="text/javascript" language="javascript">
  $(document).ready(function() {
    $("#sortable").sortable({

      update: function(event, ui) {
        var serial = $('#sortable').sortable('serialize');
//        alert(serial);
        $.ajax({
          url: "{% url 'index' %}",
          type: "post",
          data: { 'content': serial, 'csrfmiddlewaretoken' : '{{ csrf_token }}' } 
        });
      },

    }).disableSelection();
  });
</script>

</head>
<body>

    <ul id="sortable">
    {% for entry in entry_list %}
    <li id="entry_{{ forloop.counter0 }}" class="ui-state-default">
        {{ entry }}
    </li>
    {% endfor %}
    </ul>


<script>$("#sortable").sortable();</script>

</body>
</html>
